interactions:
- request:
    method: GET
    uri: https://lichess.org/api/fide/player?q=Erigaisi
    headers:
    body: null
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      string: |
        [
          {
            "id": 35009192,
            "name": "Erigaisi Arjun",
            "federation": "IND",
            "year": 2003,
            "title": "GM",
            "standard": 2782,
            "rapid": 2708,
            "blitz": 2738
          },
          {
            "id": 35009060,
            "name": "Erigaisi Keerthana",
            "federation": "IND",
            "year": 2002
          }
        ]
version: 1


