interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/swiss/ADAHHiMX/results?nb=3
  response:
    body:
      string: '{"rank":1,"points":6,"tieBreak":20.5,"rating":2150,"username":"MorphyTal2018","performance":2392}

        {"rank":2,"points":6,"tieBreak":19.75,"rating":2296,"username":"I_Eat_Chess","performance":2460}

        {"rank":3,"points":5.5,"tieBreak":16.5,"rating":2309,"username":"Prajurit_CSI","performance":2353}

        '
    headers:
      Content-Disposition:
      - attachment; filename=lichess_swiss_2023.10.31_ADAHHiMX_rapid.ndjson
      Content-Type:
      - application/x-ndjson
    status:
      code: 200
      message: OK
version: 1
