interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/tournament/hallow23/results?nb=3&sheet=True
  response:
    body:
      string: '{"rank":1,"score":149,"rating":2394,"username":"GGbers","flair":"activity.lichess-variant-king-of-the-hill","performance":2449,"sheet":{"scores":"55330000533054533003305555555445555555330330330"}}

        {"rank":2,"score":124,"rating":2346,"username":"Kondor75","title":"IM","performance":2447,"sheet":{"scores":"44332544522100445230554555445555330202"}}

        {"rank":3,"score":123,"rating":2241,"username":"sadisticTushi","flair":"food-drink.french-fries","performance":2314,"sheet":{"scores":"22042202022044444220200444444442204422044220422020042210"}}

        '
    headers:
      Content-Disposition:
      - attachment; filename=lichess_tournament_2023.10.31_hallow23_halloween-arena-2023.ndjson
      Content-Type:
      - application/x-ndjson
    status:
      code: 200
      message: OK
version: 1
