interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/tournament/hallow23/results?nb=3
  response:
    body:
      string: '{"rank":1,"score":149,"rating":2394,"username":"GGbers","performance":2449}

        {"rank":2,"score":124,"rating":2346,"username":"Kondor75","title":"IM","performance":2447}

        {"rank":3,"score":123,"rating":2241,"username":"sadisticTushi","performance":2314}

        '
    headers:
      Content-Disposition:
      - attachment; filename=lichess_tournament_2023.10.31_hallow23_halloween-arena-2023.ndjson
      Content-Type:
      - application/x-ndjson
    status:
      code: 200
      message: OK
version: 1
