interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/puzzle/next?angle=anastasiaMate&difficulty=hardest
  response:
    body:
      string: '{"game":{"id":"aBrvm07l","perf":{"key":"blitz","name":"Blitz"},"rated":true,"players":[{"name":"Yan_Henrique","id":"yan_henrique","color":"white","rating":1728},{"name":"Rony-mar","id":"rony-mar","color":"black","rating":1692}],"pgn":"e4
        e5 Nf3 d5 d3 dxe4 dxe4 Qxd1+ Kxd1 Nc6 h3 Nf6 Bg5 Nxe4 h4 Nxf2+ Ke2 Nxh1 Nc3
        Ng3+ Ke3 Bb4 Nd5 Bd6 c4 O-O a3 h6 b4 hxg5 hxg5 Bg4 c5 Bxf3 gxf3 Nxf1+ Kf2
        Be7 Rxf1 Rac8 f4 exf4 b5 Nd4","clock":"3+0"},"puzzle":{"id":"wv8ol","rating":1714,"plays":9171,"solution":["d5e7","g8h7","f1h1"],"themes":["short","fork","endgame","mateIn2","hangingPiece","anastasiaMate"],"initialPly":43}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
