interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/puzzle/next?difficulty=normal
  response:
    body:
      string: '{"game":{"id":"hX0Pwwrj","perf":{"key":"blitz","name":"Blitz"},"rated":true,"players":[{"name":"mjt348","id":"mjt348","color":"white","rating":2000},{"name":"Tiriaomata","flair":"objects.crossed-swords","id":"tiriaomata","color":"black","rating":1854}],"pgn":"e4
        e5 Nf3 Nc6 Bb5 d6 d4 exd4 Bxc6+ bxc6 Nxd4 Bb7 Nc3 Nf6 O-O Be7 Re1 O-O Bg5
        c5 Nf5 g6 Nxe7+ Qxe7 Qf3 Kg7 Qh3 Qe5 Qh6+ Kg8 f4","clock":"3+0"},"puzzle":{"id":"HsZsS","rating":1598,"plays":2484,"solution":["e5d4","g1h1","f6g4","h6h4","g4f2"],"themes":["middlegame","advantage","long","kingsideAttack"],"initialPly":30}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
