interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/puzzle/next?angle=mix&difficulty=normal
  response:
    body:
      string: '{"game":{"id":"VfTa03Ya","perf":{"key":"rapid","name":"Rapid"},"rated":true,"players":[{"name":"Blizzard3388","id":"blizzard3388","color":"white","rating":2183},{"name":"chessblack99","id":"chessblack99","color":"black","rating":2255}],"pgn":"Nf3
        d5 d3 Nc6 Nbd2 e5 g3 Nf6 e4 Bc5 Bg2 dxe4 dxe4 O-O O-O Bg4 c3 Qd7 Qc2 Bh3 b4
        Bd6 Nc4 Bxg2 Kxg2 b5 Nxd6 cxd6 Rd1 Rac8 Qd3 Rfd8 Bg5 a6 Bxf6 gxf6 Nh4 Ne7
        a4 Qg4 axb5 axb5 h3 Qd7 g4 Ng6 Nxg6 hxg6 Ra6 Qb7 Rda1 d5 Ra7 dxe4","clock":"10+0"},"puzzle":{"id":"vF0rN","rating":1292,"plays":16607,"solution":["d3d8","c8d8","a7b7"],"themes":["endgame","short","crushing"],"initialPly":53}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
