interactions:
- request:
    method: GET
    uri: https://lichess.org/api/racer/kDAIa
    headers:
    body: null
  response:
    status:
      code: 200
      message: OK
    body:
      string: '{"id":"kDAIa","owner":"username","players":[{"name":"username","id":"username","score":0}],"puzzles":[{"id":"BvrvP","fen":"r5rk/p2q2bp/1n1p1n2/2pPp3/N4p2/1BN2P2/1PPB2PP/R4QK1 b - - 3 22","line":"g7f8 a4b6 a7b6 a1a8","rating":1008},{"id":"Yaava","fen":"3q4/1b2rpkp/p5p1/3p2N1/2pP1Q1P/2P5/PP2RPP1/6K1 b - - 0 24","line":"e7e2 f4f7 g7h8 f7h7","rating":1045},{"id":"LCtn5","fen":"3r2k1/2q2p1p/pp6/5Np1/1P1Q1P2/P6P/6P1/4R1K1 b - - 1 29","line":"d8d4 e1e8","rating":1062},{"id":"SmAil","fen":"rnq2rk1/ppb2ppp/2p5/3nP1N1/8/2P3Pb/PPQN1PBP/R1B2RK1 b - - 2 14","line":"h3g2 c2h7","rating":1087},{"id":"PcwYs","fen":"k7/1ppr2pp/1P1qpp2/8/3rP3/8/Q4PPP/2R3K1 b - - 1 28","line":"a8b8 a2a7 b8c8 a7a8","rating":1127},{"id":"YUqBv","fen":"r3[...]
