interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/rel/following
  response:
    body:
      string: '{"id":"api_test_user","username":"api_test_user","perfs":{"bullet":{"games":1000,"rating":1000,"rd":50,"prog":50},"blitz":{"games":1000,"rating":1000,"rd":50,"prog":50},"rapid":{"games":1000,"rating":1000,"rd":50,"prog":50,"prov":true},"classical":{"games":1000,"rating":1000,"rd":50,"prog":50,"prov":true},"correspondence":{"games":0,"rating":1500,"rd":500,"prog":0,"prov":true},"chess960":{"games":0,"rating":1500,"rd":50,"prog":0,"prov":true},"crazyhouse":{"games":0,"rating":1500,"rd":50,"prog":0,"prov":true},"puzzle":{"games":1000,"rating":1000,"rd":50,"prog":0},"storm":{"runs":50,"score":50},"racer":{"runs":50,"score":50},"streak":{"runs":50,"score":50}},"flair":"people.victory-hand-medium-light-skin-tone","createdAt":1000000000000,"seenAt":1500000000000,"playTime":{"total":1000000,"tv":0},"url":"https://lichess.org/@/api_test_user"}
        '
    headers:
      Content-Type:
      - application/x-ndjson
      X-Accepted-OAuth-Scopes:
      - follow:read,web:mobile
      X-OAuth-Scopes:
      - email:read,preference:read,preference:write,follow:read,follow:write,msg:write
    status:
      code: 200
      message: OK
version: 1
