interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/broadcast/by/lichess?page=1&html=False
  response:
    body:
      string: '{"currentPage":1,"maxPerPage":24,"currentPageResults":[{"tour":{"id":"k4TVpyO7","name":"FIDE
        World Corporate Chess Championship 2025 | Online Qualifier 4","slug":"fide-world-corporate-chess-championship-2025--online-qualifier-4","info":{"format":"7-round
        Team Swiss","tc":"10+3","fideTc":"standard","location":"lichess.org","timeZone":"Etc/UTC","standings":"https://fwccc.lichess.ca/fwccc-qualifier4/season/2025/standings/"},"createdAt":1760282145291,"url":"https://lichess.org/broadcast/fide-world-corporate-chess-championship-2025--online-qualifier-4/k4TVpyO7","tier":5,"dates":[1760291984000],"image":"https://image.lichess1.org/display?fmt=webp&h=400&op=thumbnail&path=relay:k4TVpyO7:8YEFzYA4.webp&w=800&sig=1c57f41fca334b724c2a9c6906be795ec7ff93da","teamTable":true}},{"tour":{"id":"8ksEjJjX","name":"FIDE
        World Corporate Chess Championship 2025 | Online Qualifier 2","slug":"fide-world-corporate-chess-championship-2025--online-qualifier-2","info":{"format":"7-round
        Team Swiss","tc":"10+3","fideTc":"standard","location":"lichess.org","timeZone":"Etc/UTC","players":"RaviKhanna08
        Metsfan2000 claudioa shivamsingh1607","standings":"https://fwccc.lichess.ca/fwccc-qualifier2/season/2025/standings/"},"createdAt":1760196441335,"url":"https://lichess.org/broadcast/fide-world-corporate-chess-championship-2025--online-qualifier-2/8ksEjJjX","tier":5,"dates":[1760198358000],"image":"https://image.lichess1.org/display?fmt=webp&h=400&op=thumbnail&path=relay:8ksEjJjX:MDRZRJNC.webp&w=800&sig=4d7f2c91bb32faca4c7a3d3fa3eb6dcb6711cfae","teamTable":true}},{"tour":{"id[...]
