interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/broadcast/top?page=1&html=False
  response:
    body:
      string: "{\"active\":[{\"tour\":{\"id\":\"8jXzp45R\",\"name\":\"European Chess
        Club Cup 2025 | Open Matches 1-16\",\"slug\":\"european-chess-club-cup-2025--open-matches-1-16\",\"info\":{\"format\":\"7-round
        Swiss for teams\",\"tc\":\"90 min / 40 moves + 30 min + 30 sec / move\",\"fideTc\":\"standard\",\"location\":\"Rhodes,
        Greece\",\"timeZone\":\"Europe/Athens\",\"players\":\"Erigaisi, Giri, Keymer,
        Wei, Gukesh\",\"website\":\"https://eccc2025.com/\",\"standings\":\"https://s1.chess-results.com/tnr1250658.aspx\"},\"createdAt\":1760830355138,\"url\":\"https://lichess.org/broadcast/european-chess-club-cup-2025--open-matches-1-16/8jXzp45R\",\"tier\":5,\"dates\":[1760876100000,1761390900000],\"image\":\"https://image.lichess1.org/display?fmt=webp&h=400&op=thumbnail&path=relay:8jXzp45R:zUiAvxTX.webp&w=800&sig=35bb2da8fc27df18506e520e4acdf73c990c5aa8\",\"teamTable\":true},\"round\":{\"id\":\"f7DytHc1\",\"name\":\"Round
        5\",\"slug\":\"round-5\",\"createdAt\":1760830895292,\"rated\":true,\"startsAt\":1761221700000,\"url\":\"https://lichess.org/broadcast/european-chess-club-cup-2025--open-matches-1-16/round-5/f7DytHc1\"},\"roundToLink\":{\"id\":\"IBcpk6tK\",\"name\":\"Round
        4\",\"slug\":\"round-4\",\"createdAt\":1760830875832,\"rated\":true,\"finishedAt\":1761156020885,\"finished\":true,\"startsAt\":1761135300000},\"group\":\"European
        Chess Club Cup 2025\"},{\"tour\":{\"id\":\"02DPVkH6\",\"name\":\"2nd FIDE
        Chess Olympiad for People with Disabilities 2025\",\"slug\":\"2nd-fide-chess-olympiad-for-people-with-disabilities-2025\",\"info\":{\"format\":\"6-round
        Swiss for teams\",\"tc\":\"90min / 40 moves + 30 min + 30 sec / move\",\"fideTc\":\"standard\",\"location\":\"Astana,
        Kazakhstan\",\"timeZone\":\"Asia/Almaty\",\"website\":\"https://dis-olympiad2025.fide.com/\",\"standings\":\"htt[...]
