interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/broadcast/6UkdBX8x/players
  response:
    body:
      string: '[{"name":"Caruana, Fabiano","title":"GM","rating":2795,"fideId":2020009,"fed":"USA","played":4,"score":3.5,"ratingDiff":3,"ratingsMap":{"standard":2795},"ratingDiffs":{"standard":3},"performance":2878,"performances":{"standard":2878}},{"name":"Celik,
        Hasan Huseyin","title":"IM","rating":2495,"fideId":44506759,"fed":"TUR","played":5,"score":2.5,"ratingDiff":0,"ratingsMap":{"standard":2495},"ratingDiffs":{"standard":0},"performance":2492,"performances":{"standard":2492}},{"name":"Cordova,
        Emilio","title":"GM","rating":2494,"fideId":3801497,"fed":"PER","played":5,"score":3,"ratingDiff":6,"ratingsMap":{"standard":2494},"ratingDiffs":{"standard":6},"performance":2589,"performances":{"standard":25[...]
