interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/broadcast/ZfhmG9VB/teams/standings
  response:
    body:
      string: '[{"name":"Team Alpha","mp":6.0,"gp":4.5,"averageRating":2700,"matches":[{"opponent":"Team
        Beta","mp":2.0,"gp":1.5}],"players":[{"name":"Magnus Carlsen","fideId":1503014,"fed":"NOR","title":"GM","rating":2830,"score":4.5,"played":7,"rank":1}]},{"name":"Team
        Beta","mp":4.0,"gp":3.0,"averageRating":2650,"matches":[{"opponent":"Team Alpha","mp":0.0,"gp":1.5}],"players":[{"name":"Fabiano
        Caruana","fideId":2020009,"fed":"USA","title":"GM","rating":2805,"score":4.0,"played":7,"rank":2}]}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
