interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/broadcast/search?q=chess&page=1
  response:
    body:
      string: "{\"currentPage\":1,\"maxPerPage\":24,\"currentPageResults\":[{\"tour\":{\"id\":\"VGXtuWXw\",\"name\":\"2025
        London Chess Classic | Elite\",\"slug\":\"2025-london-chess-classic--elite\",\"info\":{\"format\":\"10-player
        round-robin\",\"tc\":\"90 minutes / 40 moves + 30 min + 30 sec / move\",\"fideTc\":\"standard\",\"location\":\"The
        Emirates Stadium, London, England\",\"timeZone\":\"Europe/London\",\"players\":\"Firouzja,
        Abdusattorov, Eljanov, Shankland\",\"website\":\"https://www.londonchessclassic.com/\",\"standings\":\"https://s3.chess-results.com/tnr1302060.aspx?lan=1\"},\"createdAt\":1764015676908,\"url\":\"https://lichess.org/broadcast/2025-london-chess-classic--elite/VGXtuWXw\",\"tier\":5,\"dates\":[1764172800000,1764950400000],\"image\":\"https://image.lichess1.org/display?fmt=webp&h=400&op=thumbnail&path=23RO6VZt0bRd.webp&w=800&sig=9b170715f0bf7c6bf6e6afe687b2b11b5e65e323\"},\"round\":{\"id\":\"84wUGxVs\",\"name\":\"Round
        9\",\"slug\":\"round-9\",\"createdAt\":1764015756939,\"rated\":true,\"startsAt\":1764950400000,\"url\":\"https://lichess.org/broadcast/2025-london-chess-classic--elite/round-9/84wUGxVs\"}},{\"tour\":{\"id\":\"G9eyUqdy\",\"name\":\"FIDE
        World Corporate Chess Championship 2025 | Knockout Stage\",\"slug\":\"fide-world-corporate-chess-championship-2025--knockout-stage\",\"info\":{\"fideTc\":\"rapid\",\"location\":\"Goa,
        India\",\"timeZone\":\"Asia/Colombo\",\"website\":\"https://worldcorporate.fide.com/\"},\"createdAt\":1763195555850,\"url\":\"https://lichess.org/broadcast/fide-world-corporate-chess-championship-2025--knockout-stage/G9eyUqdy\",\"tier\":5,\"dates\":[1763266920000],\"image\":\"https://image.lichess1.org/display?fmt=webp&h=400&op=thumbnail&path=relay:G9eyUqdy:PPUSqBee.webp&w=800&sig=7e0481cbf9e5a3f592533aae15f3e0c603a444be\",\"teamTable\":true},\"round\":{\"id\":\"CHXvGTlK\",\"name\":\"Finals
        Game 2\",\"slug\":\"finals-game-2\",\"createdAt\":1763195708804,\"rated\":true,\"finishedAt\":1763275775133,\"finished\":true,\"startsAt\":1763273820000,\"url\":\"https://lichess.org/broadcast/fide-world-corporate-chess-championship-2025--knockout-stage/finals-game-2/CHXvGTlK\"}},{\"tour\":{\"id\":\"5qiZZOtP\",\"name\":\"FIDE
        World Corporate Chess Championship 2025 | Qualifying Pool A\",\"slug\":\"fide-world-corporate-chess-championship-2025--qualifying-pool-a\",\"info\":{\"format\":\"6-team
        double round-robin\",\"tc\":\"10 min + 3 sec / move\",\"fideTc\":\"rapid\",\"location\":\"Goa,
        India[...]
