interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/bulk-pairing/testBulk1/games
  response:
    body:
      string: "{\\\n\\\"id\\\":\\\"abcdef01\\\",\\\
\\\"rated\\\":true,\\\
\\\"variant\\\":{\\\"key\\\":\\\"standard\\\",\\\"name\\\":\\\"Standard\\\",\\\"short\\\":\\\"Std\\\"},\\\
\\\"speed\\\":\\\"blitz\\\",\\\
\\\"perf\\\":\\\"blitz\\\",\\\
\\\"createdAt\\\":1677000000000,\\\
\\\"lastMoveAt\\\":1677001000000,\\\
\\\"status\\\":\\\"mate\\\",\\\
\\\"players\\\":{\\\
\\\"white\\\":{\\\"user\\\":{\\\"name\\\":\\\"PlayerOne\\\",\\\"id\\\":\\\"playerone\\\"},\\\"rating\\\":1500,\\\"ratingDiff\\\":10},\\\
\\\"black\\\":{\\\"user\\\":{\\\"name\\\":\\\"PlayerTwo\\\",\\\"id\\\":\\\"playertwo\\\"},\\\"rating\\\":1450,\\\"ratingDiff\\\":-10}\\\
},\\\
\\\"winner\\\":\\\"white\\\",\\\
\\\"moves\\\":\\\"e4 e5 Nf3 Nc6 Bb5\\\",\\\
\\\"clock\\\":{\\\"initial\\\":300,\\\"increment\\\":0,\\\"totalTime\\\":300}\\\
}\\n"
    headers:
      Content-Type:
      - application/x-ndjson
    status:
      code: 200
      message: OK
version: 1
