interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/cloud-eval?fen=rnbqkbnr%2Fppp1pppp%2F8%2F3pP3%2F8%2F8%2FPPPP1PPP%2FRNBQKBNR+b+KQkq+-+0+2&multiPv=1&variant=standard
  response:
    body:
      string: '{"fen":"rnbqkbnr/ppp1pppp/8/3pP3/8/8/PPPP1PPP/RNBQKBNR b KQkq - 0 2","knodes":3222279,"depth":53,"pvs":[{"moves":"c7c5
        c2c3 c8f5 d2d4 e7e6 f1b5 b8d7 g1e2 a8c8 e1h1","cp":0}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
