interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F8%2F3pp3%2F4P3%2F2NP4%2FPPP2PPP%2FR1BQKBNR+b+KQkq+-+0+1&speeds=blitz%2Crapid%2Cclassical&ratings=2200%2C2500
  response:
    body:
      string: '{"white":1675,"draws":221,"black":1906,"moves":[{"uci":"d5d4","san":"d4","averageRating":2288,"white":853,"draws":89,"black":838,"game":null,"opening":null},{"uci":"g8f6","san":"Nf6","averageRating":2324,"white":349,"draws":60,"black":467,"game":null,"opening":null},{"uci":"d5e4","san":"dxe4","averageRating":2297,"white":280,"draws":46,"black":359,"game":null,"opening":null},{"uci":"c7c6","san":"c6","averageRating":2319,"white":87,"draws":7,"black":107,"game":null,"opening":null},{"uci":"f8b4","san":"Bb4","averageRating":2298,"white":80,"draws":12,"black":103,"game":null,"opening":null},{"uci":"g8e7","san":"Ne7","averageRating":2320,"white":15,"draws":4,"black":20,"game":null,"opening":null},{"uci":"f7f5","san":"f5","averageRating":2272,"white":3,"draws":1,"black":4,"game":null,"opening":null},{"uci":"c8e6","san":"Be6","averageRating":2310,"white":3,"draws":1,"black":4,"game":null,"opening":null},{"uci":"f8d6","san":"Bd6","averageRating":2227,"white":2,"draws":0,"black":2,"game":null,"opening":null},{"uci":"f7f6","san":"f6","averageRating":2259,"white":2,"draws":1,"black":0,"game":null,"opening":null},{"uci":"b8c6","san":"Nc6","averageRating":2444,"white":0,"draws":0,"black":1,"game":{"id":"3WS9Bp51","winner":"black","speed":"blitz","mode":"rated","black":{"name":"islam_elhlwagy","rating":2444},"white":{"name":"Elhlwagy11","rating":2275},"year":2020,"month":"2020-04"},"opening":null},{"uci":"g7g5","san":"g5","averageRating":2280,"white":1,"draws":0,"black":0,"game":{"id":"lp7spxN7","winner":"white","speed":"blitz","mode":"rated","black":{"name":"Adonai_June","rating":2280},"white":{"name":"tacat1","rating":2404},"year":2021,"month":"2021-11"},"opening":null}],"recentGames":[{"uci":"d5e4","id":"Lpfhq3Yo","winner":"black","speed":"blitz","mode":"rated","black":{"name":"humbleman94","rating":2226},"white":{"name":"Master_Sambiqui","rating":2235},"year":2024,"month":"2024-10"},{"uci":"d5d4","id":"Ryjzw1CU","winner":"black","speed":"blitz","mode":"rated","black":{"name":"angimar","rating":2262},"white":{"name":"PEDRO_COATS","rating":2184},"year":2024,"month":"2024-10"},{"uci":"d5e4","id":"0B1J0Bgn","winner":"black","speed":"blitz","mode":"rated","black":{"name":"Meles84","rating":2240},"white":{"name":"zumba_god","rating":2185},"year":2024,"month":"2024-10"},{"uci":"d5d4","id":"C493G8Ke","winner":"black","speed":"blitz","mode":"rated","black":{"name":"Meles84","rating":2243},"white":{"name":"zumba_god","rating":2183},"year":2024,"month":"2024-10"}],"topGames":[{"uci":"d5d4","id":"QXC1tLWe","winner":"white","speed":"classical","mode":"rated","black":{"name":"H_S_2161","rating":2258},"white":{"name":"MTRainBow","rating":2174},"year":2021,"month":"2021-06"},{"uci":"g8f6","id":"3BI9yuxG","winner":"black","speed":"blitz","mode":"rated","black":{"name":"arturchix","rating":2744},"white":{"name":"SexDrugsRnR","rating":2596},"year":2024,"month":"2024-10"},{"uci":"d5d4","id":"xcO92Ws7","winner":"white","speed":"blitz","mode":"rated","black":{"name":"CK-king-2024","rating":2851},"white":{"name":"yezhik_tumanov","rating":2637},"year":2024,"month":"2024-09"},{"uci":"f8b4","id":"8B0CHuMu","winner":"white","speed":"blitz","mode":"rated","black":{"name":"TripoK","rating":2460},"white":{"name":"Mavi_Alpha","rating":2640},"year":2024,"month":"2024-08"}],"opening":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
