interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/player?player=evachesss&color=white
  response:
    body:
      string: '{"white":218,"draws":36,"black":218,"moves":[{"uci":"e2e4","san":"e4","averageOpponentRating":962,"performance":953,"white":199,"draws":35,"black":210,"game":null,"opening":{"eco":"B00","name":"King''s
        Pawn Game"}},{"uci":"d2d4","san":"d4","averageOpponentRating":1010,"performance":1070,"white":7,"draws":0,"black":5,"game":null,"opening":{"eco":"A40","name":"Queen''s
        Pawn Game"}},{"uci":"e2e3","san":"e3","averageOpponentRating":974,"performance":1019,"white":4,"draws":1,"black":3,"game":null,"opening":{"eco":"A00","name":"Van''t
        Kruijs Opening"}},{"uci":"c2c4","san":"c4","averageOpponentRating":936,"performance":1736,"white":4,"draws":0,"black":0,"game":null,"opening":{"eco":"A10","name":"English
        Opening"}},{"uci":"f2f4","san":"f4","averageOpponentRating":1020,"performance":1820,"white":1,"draws":0,"black":0,"game":{"id":"HSnVETuT","winner":"white","speed":"rapid","mode":"rated","black":{"name":"Tribunaliax","rating":1020},"white":{"name":"Evachesss","rating":1056},"year":2021,"month":"2021-08"},"opening":{"eco":"A02","name":"Bird
        Opening"}},{"uci":"c2c3","san":"c3","averageOpponentRating":874,"performance":1674,"white":1,"draws":0,"black":0,"game":{"id":"q4cz8hq2","winner":"white","speed":"rapid","mode":"rated","black":{"name":"Shubham1795","rating":874},"white":{"name":"Evachesss","rating":942},"year":2023,"month":"2023-01"},"opening":{"eco":"A00","name":"Saragossa
        Opening"}},{"uci":"b1c3","san":"Nc3","averageOpponentRating":971,"performance":1771,"white":1,"draws":0,"black":0,"game":{"id":"OZsmy7Bw","winner":"white","speed":"rapid","mode":"rated","black":{"name":"sometomatoes","rating":971},"white":{"name":"Evachesss","rating":985},"year":2021,"month":"2021-09"},"opening":{"eco":"A00","name":"Van
        Geet Opening"}},{"uci":"d2d3","san":"d3","averageOpponentRating":965,"performance":1765,"white":1,"draws":0,"black":0,"game":{"id":"zAWpgxh5","winner":"white","speed":"rapid","mode":"rated","black":{"name":"BeneAu","rating":965},"white":{"name":"Evachesss","rating":970},"year":2023,"month":"2023-01"},"opening":{"eco":"A00","name":"Mieses
        Opening"}}],"recentGames":[{"uci":"e2e4","id":"pqvWgnYB","winner":"black","speed":"rapid","mode":"rated","black":{"name":"ha1dera","rating":891},"white":{"name":"Evachesss","rating":891},"year":2025,"month":"2025-11"},{"uci":"e2e4","id":"gX5oPhd6","winner":"black","speed":"rapid","mode":"rated","black":{"name":"WhiteWalker55","rating":906},"white":{"name":"Evachesss","rating":922},"year":2025,"month":"2025-10"},{"uci":"e2e4","id":"w0IxNR1h","winner":"white","speed":"rapid","mode":"rated","black":{"name":"Jccc81","rating"[...]
