interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/player?player=evachesss&color=white
  response:
    body:
      string: '

        {"white":0,"draws":0,"black":0,"moves":[],"recentGames":[],"opening":null,"queuePosition":0}

        {"white":3,"draws":0,"black":7,"moves":[{"uci":"e2e4","san":"e4","averageOpponentRating":1073,"performance":273,"white":0,"draws":0,"black":5,"game":null},{"uci":"c2c4","san":"c4","averageOpponentRating":928,"performance":1728,"white":2,"draws":0,"black":0,"game":null},{"uci":"d2d4","san":"d4","averageOpponentRating":1270,"performance":470,"white":0,"draws":0,"black":2,"game":null},{"uci":"f2f4","san":"f4","averageOpponentRating":1020,"performance":1820,"white":1,"draws":0,"black":0,"game":{"id":"HSnVETuT","winner":"white","speed":"rapid","mode":"rated","black":{"name":"Tribunaliax","rating":1020},"white":{"name":"Evachesss","rating":1056},"year":2021,"month":"2021-08"}}],"recentGames":[{"uci":"c2c4","id":"tNX0WwcP","winner":"white","speed":"rapid","mode":"rated","black":{"name":"Frishkii","rating":872},"white":{"name":"Evachesss","rating":953},"year":2021,"month":"2021-08"},{"uci":"c2c4","id":"7hhfFNsl","winner":"white","speed":"rapid","mode":"rated","black":{"name":"KASTHURISINDURAHU","rating":983},"white":{"name":"Evachesss","rating":926},"year":2021,"month":"2021-08"},{"uci":"e2e4","id":"zaYTYXwk","winner":"black","speed":"rapid","mode":"rated","[...]
