interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F8%2F3pp3%2F4P3%2F2NP4%2FPPP2PPP%2FR1BQKBNR+b+KQkq+-+0+1&speeds=blitz%2Crapid%2Cclassical&ratings=2200%2C2500
  response:
    body:
      string: '{"white":1910,"draws":272,"black":2167,"moves":[{"uci":"d5d4","san":"d4","averageRating":2288,"white":971,"draws":110,"black":959,"game":null,"opening":null},{"uci":"g8f6","san":"Nf6","averageRating":2324,"white":397,"draws":70,"black":525,"game":null,"opening":null},{"uci":"d5e4","san":"dxe4","averageRating":2299,"white":317,"draws":55,"black":404,"game":null,"opening":null},{"uci":"c7c6","san":"c6","averageRating":2314,"white":106,"draws":14,"black":122,"game":null,"opening":null},{"uci":"f8b4","san":"Bb4","averageRating":2298,"white":87,"draws":15,"black":122,"game":null,"opening":null},{"uci":"g8e7","san":"Ne7","averageRating":2325,"white":17,"draws":5,"black":23,"game":null,"opening":null},{"uci":"f7f5","san":"f5","averageRating":2284,"white":6,"draws":1,"black":4,"game":null,"opening":null},{"uci":"c8e6","san":"Be6","averageRating":2310,"white":3,"draws":1,"black":4,"game":null,"opening":null},{"uci":"f8d6","san":"Bd6","averageRating":2228,"white":3,"draws":0,"black":2,"game":null,"opening":null},{"uci":"f7f6","san":"f6","averageRating":2259,"white":2,"draws":1,"black":0,"game":null,"opening":null},{"uci":"b8c6","san":"Nc6","averageRating":2444,"white":0,"draws":0,"black":1,"game":{"id":"3WS9Bp51","winner":"black","speed":"blitz","mode":"rated","black":{"name":"islam_elhlwagy","rating":2444},"white":{"name":"Elhlwagy11","rating":2275},"year":2020,"month":"2020-04"},"opening":null},{"uci":"g7g5","san":"g5","averageRating":2280,"white":1,"draws":0,"black":0,"game":{"id":"lp7spxN7","winner":"white","speed":"blitz","mode":"rated","black":{"name":"Adonai_June","rating":2280},"white":{"name":"tacat1","rating":2404},"year":2021,"month":"2021-11"},"opening":null}],"recentGames":[{"uci":"c7c6","id":"WgILhnXs","winner":"white","speed":"blitz","mode":"rated","black":{"name":"CACR","rating":2223},"white":{"name":"batvadyur","rating":2235},"year":2025,"month":"2025-09"},{"uci":"d5d4","id":"F9pvXXal","winner":"black","speed":"blitz","mode":"rated","black":{"name":"ayman715","rating":2249},"white":{"name":"owleg","rating":2287},"year":2025,"month":"2025-09"},{"uci":"g8f6","id":"Hc9Lzlnl","winner":null,"speed":"blitz","mode":"rated","black":{"name":"MorbMorb","rating":2302},"white":{"name":"Mystman","rating":2293},"year":2025,"month":"2025-09"},{"uci":"f8b4","id":"EWk6UvZM","winner":"white","speed":"blitz","mode":"rated","black":{"name":"pakyun","rating":2231},"white":{"name":"anlap","rating":2218},"year":2025,"month":"2025-09"}],"topGames":[{"uci":"c7c6","id":"zAAriyq2","winner":"black","speed":"classical","mode":"rated","black":{"name":"chesscoach2025","rating":2352},"white":{"name":"Aleksei-09_12-8","rating":2193},"year":2025,"month":"2025-06"},{"uci":"d5d4","id":"QXC1tLWe","winner":"white","speed":"classical","mode":"rated","black":{"name":"H_S_2161","rating":2258},"white":{"name":"MTRainBow","rating":2174},"year":2021,"month":"2021-06"},{"uci":"d5d4","id":"DCEbS033","winner":"white","speed":"rapid","mode":"rated","black":{"name":"bosspotato","rating":2474},"white":{"name":"thanh7396","rating":2660},"year":2024,"month":"2024-11"},{"uci":"g8e7","id":"19Pr6n4O","winner":"black","speed":"blitz","mode":"rated","black":{"name":"pushistaya_kiska","rating":2637},"white":{"name":"sorriemerria","rating":2437},"year":2025,"month":"2025-08"}],"opening":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
