interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://explorer.lichess.ovh/lichess?variant=standard&fen=rnbqkbnr%2Fppp2ppp%2F8%2F3pp3%2F4P3%2F2NP4%2FPPP2PPP%2FR1BQKBNR+b+KQkq+-+0+1&speeds=blitz%2Crapid%2Cclassical&ratings=2200%2C2500
  response:
    body:
      string: '{"white":1212,"draws":160,"black":1406,"moves":[{"uci":"d5d4","san":"d4","averageRating":2290,"white":625,"draws":66,"black":633,"game":null},{"uci":"g8f6","san":"Nf6","averageRating":2330,"white":246,"draws":43,"black":342,"game":null},{"uci":"d5e4","san":"dxe4","averageRating":2301,"white":205,"draws":34,"black":258,"game":null},{"uci":"c7c6","san":"c6","averageRating":2315,"white":59,"draws":7,"black":78,"game":null},{"uci":"f8b4","san":"Bb4","averageRating":2304,"white":59,"draws":6,"black":72,"game":null},{"uci":"g8e7","san":"Ne7","averageRating":2338,"white":13,"draws":3,"black":16,"game":null},{"uci":"c8e6","san":"Be6","averageRating":2312,"white":3,"draws":0,"black":1,"game":null},{"uci":"f7f5","san":"f5","averageRating":2337,"white":0,"draws":0,"black":3,"game":null},{"uci":"f8d6","san":"Bd6","averageRating":2248,"white":0,"draws":0,"black":2,"game":null},{"uci":"f7f6","san":"f6","averageRating":2270,"white":1,"draws":1,"black":0,"game":null},{"uci":"b8c6","san":"Nc6","averageRating":2444,"white":0,"draws":0,"black":1,"game":{"id":"3WS9Bp51","winner":"black","speed":"blitz","mode":"rated","black":{"name":"islam_elhlwagy","rating":2444},"white":{"name":"Elhlwagy11","rating":2275},"year":2020,"month":"2020-04"}},{"uci":"g7g5","san":"g5","averageRating":2280,"white":1,"draws":0,"black":0,"game":{"id":"lp7spxN7","winner":"white","speed":"blitz","mode":"rated","black":{"name":"Adonai_June","rating":2280},"white":{"name":"tacat1","rating":2404},"year":2021,"month":"2021-11"}}],"recentGames":[{"uci":"g8f6","id":"IWbmhvRx","winner":"white","speed":"blitz","mode":"rated","black":{"name":"mohammadallan94","rating":2282},"white":{"name":"pulemetAK29","rating":2286},"year":2023,"month":"2023-06"},{"uci":"d5d4","id":"QHLLNIM7","winner":"black","speed":"blitz","mode":"rated","black":{"name":"Danielmcloud","rating":2202},"white":{"name":"pakravan","rating":2233},"year":2023,"month":"2023-06"},{"uci":"d5e4","id":"e6Gdnlyg","winner":"black","speed":"blitz","mode":"rated","black":{"name":"choco_chips_001","rating":2210},"white":{"name":"Rouztaj","rating":2261},"year":2023,"month":"2023-06"},{"uci":"d5d4","id":"pBNMiQZq","winner":"white","speed":"blitz","mode":"rated","black":{"name":"BADromantic","rating":2261},"white":{"name":"schipasha","rating":2291},"year":2023,"month":"2023-06"}],"topGames":[{"uci":"g8f6","id":"MMsLh0fD","winner":"white","speed":"blitz","mode":"rated","black":{"name":"HomayooonT","rating":2650},"white":{"name":"Rustin_Cohle6","rating":2626},"year":2023,"month":"2023-06"},{"uci":"g8f6","id":"1bhM8jhR","winner":null,"speed":"blitz","mode":"rated","black":{"name":"The_king66","rating":2536},"white":{"name":"dubic","rating":2514},"year":2023,"month":"2023-06"},{"uci":"g8f6","id":"oNhpZ35B","winner":"black","speed":"blitz","mode":"rated","black":{"name":"frelsara","rating":2631},"white":{"name":"EmperorBundaloy","rating":2645},"year":2023,"month":"2023-05"},{"uci":"c7c6","id":"S5Qt13vF","winner":"black","speed":"blitz","mode":"rated","black":{"name":"enriann10","rating":2549},"white":{"name":"Mavi_Alpha","rating":2591},"year":2023,"month":"2023-05"}],"opening":null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
