interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/all?page=1
  response:
    body:
      string: "{\"currentPage\":1,\"maxPerPage\":15,\"currentPageResults\":[{\"id\"\
        :\"lichess-swiss\",\"name\":\"Lichess Swiss\",\"description\":\"The official\
        \ Lichess Swiss team. We organize regular swiss tournaments for all to join.\"\
        ,\"open\":true,\"leader\":{\"name\":\"Lichess\",\"flair\":\"activity.lichess\"\
        ,\"patron\":true,\"id\":\"lichess\"},\"nbMembers\":535010,\"flair\":\"food-drink.cheese-wedge\"\
        ,\"leaders\":[{\"name\":\"Lichess\",\"flair\":\"activity.lichess\",\"patron\"\
        :true,\"id\":\"lichess\"},{\"name\":\"thibault\",\"flair\":\"symbols.rainbow-flag\"\
        ,\"patron\":true,\"id\":\"thibault\"},{\"name\":\"NoJoke\",\"flair\":\"food-drink.watermelon\"\
        ,\"patron\":true,\"id\":\"nojoke\"}]},{\"id\":\"zhigalko_sergei-fan-club\"\
        ,\"name\":\"Zhigalko_Sergei & Friends\",\"description\":\"### \u0414\u043E\
        \u0431\u0440\u043E \u043F\u043E\u0436\u0430\u043B\u043E\u0432[...]
