interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/search?text=lichess&page=1
  response:
    body:
      string: "{\"currentPage\":1,\"maxPerPage\":15,\"currentPageResults\":[{\"id\":\"pawn-stars-2\",\"name\":\"pawn
        stars 2\",\"description\":\"![Pawnstars2logo](https://i.imgur.com/2EYYg6w.jpg)\\r\\n\\r\\nWelcome
        to the Biggest Indian and the Top-5 Team of lichess! \\r\\nThis Club was formed
        on 7th August 2020 and the main leader of this team is [Bhavisha0101](https://lichess.org/@/Bhavisha0101)
        Contact him for any queries or suggestions regarding the team, we also accept
        paid promotion and sponsorships for tournaments, contact him for the same.\\r\\n\\r\\nWe
        Are #5 among all **[Lichess Teams](https://lichess.org/team/all)**\\r\\n\\r\\nThe
        team has **150+ Titled members!**\\r\\n\\r\\n**Our Major Team battles/Chessathons**\\r\\n**[Jaysheel's
        Birthday Swiss](https://lichess.org/swiss/ADKFm9Tw)**\\r\\n\\r\\n**Hall Of
        Fame**\\r\\n[Best Swiss](https://lichess.org/swiss/OTe9lPik)\\r\\n[Best Arena](https://lichess.org/tournament/HBcZbxBO)\\r\\n[Best
        Team Battle](https://lichess.org/tournament/RRkR5bZ2)\\r\\n\\r\\nDo join our
        Elite Team (only 2100+ allowed)\\r\\n[https://lichess.org/team/pawn-stars-2-elites-2100](https://lichess.org/team/pawn-stars-2-elites-2100)\\r\\n\\r\\nDo
        join our Friendly Club\\r\\n[https://lichess.org/team/pawns-hurricane-2](
        https://lichess.org/team/pawns-hurricane-2 )\\r\\n\\r\\nDescription Maintained
        by [Bhavisha0101](https://lichess.org/@/Bhavisha0101)\\r\\n\\r\\nTeam owners/leaders-\\r\\n\\r\\n[Bhavisha0101](https://lichess.org/@/Bhavisha0101)\\r\\n[Jaysheelchess2009](https://lichess.org/@/Jaysheelchess2009)\\r\\n\\r\\nLocation-
        **India**, But all Nations are Welcome!\",\"open\":true,\"leader\":{\"name\":\"Unknown_Warrior11\",\"id\":\"unknown_warrior11\"},\"leaders\":[{\"name\":\"Bhavisha0101\",\"id\":\"bhavisha0101\"},{\"name\":\"Jaysheelchess2009\",\"id\":\"jaysheelchess2009\"}],\"nbMembers\":30759},{\"id\":\"zhigalko_sergei-fan-club\",\"name\":\"Zhigalko_Sergei
        & Friends\",\"description\":\"### \u0414\u043E\u0431\u0440\u043E \u043F\u043E\u0436\u0430\u043B\u043E\u0432\u0430\u0442\u044C!\\r\\n\\r\\nOfficial
        Club of the Belarusian International Grandmaster\\r\\nZhigalko Sergei \uFE0F\uFE0F\\r\\n\\r\\n\u041E\u0444\u0438\u0446\u0438\u0430\u043B\u044C\u043D\u044B\u0439
        \u043A\u043B\u0443\u0431 \u0431\u0435\u043B\u043E\u0440\u0443\u0441\u0441\u043A\u043E\u0433\u043E[...]
