interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/lichess-swiss
  response:
    body:
      string: '{"id":"lichess-swiss","name":"Lichess Swiss","description":"The official
        Lichess Swiss team. We organize regular swiss tournaments for all to join.","open":true,"leader":{"name":"Lichess","patron":true,"id":"lichess"},"leaders":[{"name":"NoJoke","patron":true,"id":"nojoke"},{"name":"thibault","patron":true,"id":"thibault"}],"nbMembers":376628,"joined":false,"requested":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
