interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/of/Lichess
  response:
    body:
      string: "[{\"id\":\"fide\",\"name\":\"FIDE\",\"description\":\"Founded in Paris,\
        \ France in 1924, FIDE (F\xE9d\xE9ration Internationale des \xC9checs) also\
        \ known as the International Chess Federation or World Chess Federation, is\
        \ an international sports organisation based in Switzerland that connects\
        \ the national chess federations and is the governing body of international\
        \ chess competition.\\r\\n\\r\\nWant to work for the smartest company in the\
        \ world? Read more here: https://lichess.org/@/FIDE/blog/fide-world-corporate-chess-championship-2024-registration-opens/eG6Dqbip\"\
        ,\"open\":true,\"leader\":{\"name\":\"FIDE\",\"id\":\"fide\"},\"nbMembers\"\
        :11245,\"leaders\":[{\"name\":\"FIDE\",\"id\":\"fide\"}]},{\"id\":\"lichess-antichess\"\
        ,\"name\":\"Lichess Antichess\",\"description\":\"Join the team for regular\
        \ tournaments and other community-driven events. Everyone is welcome to join!\\\
        r\\n\\r\\n## Upcoming events\\r\\nDay|Date|Time, [UTC](https://savvytime.com/converter/utc)|Event\\\
        r\\n---|---|---|---\\r\\nSaturday|Dec 7|16:00|[Team Battle](https://lichess.org/tournament/QJflIrly)\\\
        r\\nSunday|Dec 8|16:00|[U20[...]
