interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/lichess-swiss
  response:
    body:
      string: '{"id":"lichess-swiss","name":"Lichess Swiss","description":"The official
        Lichess Swiss team. We organize regular swiss tournaments for all to join.","open":true,"leader":{"name":"Lichess","flair":"activity.lichess","patron":true,"id":"lichess"},"nbMembers":535010,"flair":"food-drink.cheese-wedge","leaders":[{"name":"Lichess","flair":"activity.lichess","patron":true,"id":"lichess"},{"name":"thibault","flair":"symbols.rainbow-flag","patron":true,"id":"thibault"},{"name":"NoJoke","flair":"food-drink.watermelon","patron":true,"id":"nojoke"}],"joined":false,"requested":false}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
