interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/of/Lichess
  response:
    body:
      string: "[{\"id\":\"charlotte-chess-center\",\"name\":\"Charlotte Chess Center\",\"description\":\"**Empowering
        through Chess**\\r\\n\\r\\nThe CCC, founded in 2014, serves to provide chess
        players of all ages and skill levels the best resources to learn and play.\\r\\n\\r\\n\\r\\nLearn
        more about our classes, camps, tournaments, and so much more at https://www.charlottechesscenter.org/\\r\\n\\r\\n\\r\\nJoin
        our Corporate League at https://nacorporatechess.com\\r\\n\\r\\n\\r\\nFollow
        us on social media!\\r\\n\\r\\n[Charlotte Chess Center on Youtube](https://www.youtube.com/charlottechesscenter)\\r\\n[Charlotte
        Chess Center on Facebook](https://www.facebook.com/charlottechesscenter)\\r\\n[Charlotte
        Chess Center on Instagram](https://www.instagram.com/charlottechesscenter/)\\r\\n[Charlotte
        Chess Center on Twitter](https://twitter.com/CLTchesscenter)\",\"open\":true,\"leader\":{\"name\":\"Giannatos\",\"title\":\"FM\",\"patron\":true,\"id\":\"giannatos\"},\"leaders\":[{\"name\":\"Giannatos\",\"title\":\"FM\",\"patron\":true,\"id\":\"giannatos\"},{\"name\":\"go2006\",\"patron\":true,\"id\":\"go2006\"},{\"name\":\"Northridgehawk\",\"title\":\"NM\",\"patron\":true,\"id\":\"northridgehawk\"}],\"nbMembers\":1150},{\"id\":\"fide\",\"name\":\"FIDE\",\"description\":\"Founded
        in Paris, France in 1924, FIDE (F\xE9d\xE9ration Internationale des \xC9checs)
        also known as the International Chess Federation or World Chess Federation,
        is an international sports organisation based in Switzerland that connects
        the national chess federations and is the governing body of international
        chess competition.\\r\\n\\r\\nTake part in a World Championship qualifier
        held on[...]
