interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/search?text=lichess&page=1
  response:
    body:
      string: "{\"currentPage\":1,\"maxPerPage\":15,\"currentPageResults\":[{\"id\"\
        :\"zhigalko_sergei-fan-club\",\"name\":\"Zhigalko_Sergei & Friends\",\"description\"\
        :\"### \u0414\u043E\u0431\u0440\u043E \u043F\u043E\u0436\u0430\u043B\u043E\
        \u0432\u0430\u0442\u044C!\\r\\n\\r\\nOfficial Club of the Belarusian International\
        \ Grandmaster\\r\\nZhigalko Sergei \uFE0F\uFE0F\\r\\n\\r\\n\u041E\u0444\u0438\
        \u0446\u0438\u0430\u043B\u044C\u043D\u044B\u0439 \u043A\u043B\u0443\u0431\
        \ \u0431\u0435\u043B\u043E\u0440\u0443\u0441\u0441\u043A\u043E\u0433\u043E\
        \ \u043C\u0435\[...]
