interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/team/of/Lichess
  response:
    body:
      string: "[{\"id\":\"fide\",\"name\":\"FIDE\",\"description\":\"Founded in Paris,
        France in 1924, FIDE (F\xE9d\xE9ration Internationale des \xC9checs) also
        known as the International Chess Federation or World Chess Federation, is
        an international sports organisation based in Switzerland that connects the
        national chess federations and is the governing body of international chess
        competition.\\r\\n\\r\\nWant to work for the smartest company in the world?
        Read more here: https://lichess.org/@/FIDE/blog/fide-world-corporate-chess-championship-2024-registration-opens/eG6Dqbip\",\"open\":true,\"leader\":{\"name\":\"FIDE\",\"id\":\"fide\"},\"nbMembers\":13244,\"leaders\":[{\"name\":\"FIDE\",\"id\":\"fide\"}]},{\"id\":\"lichess-antichess\",\"name\":\"Lichess
        Antichess\",\"description\":\"Join the team for regular tournaments and other
        community-driven events. Everyone is welcome to join!\\r\\n\\r\\n## Upcoming
        events\\nDay|Date|Time, [UTC](https://savvytime.com/converter/utc)|Event\\n---|---|---|---\\nFriday|Dec
        5|19:00|[Weekly Arena](https://lichess.org/tournament/B2jYi1NH)\\nSaturday|Dec
        6|16:00|[Team Battle](https://lichess.org/tournament/vIlfXRfc)\\nSunday|Dec
        7|16:00|[Titled $$ Arena](https://lichess.org/tournament/zwfuYQC6)\\nSunday|Dec
        7|16:00|[U2000 Arena](https://lichess.org/tournament/U29RvpPk)\\nThursday|Dec
        25|16:00|[Shield Arena](https://lichess.org/tournament/RjLtUcRP)\\nSunday|Dec
        28|16:00|[Holiday $$ Arena](https://lichess.org/tournament/DmbXi2rB)\\nSunday|Dec
        28|17:30|[GM Holiday $$ Arena](https://lichess.org/tournament/MZUC9Ggc)\\nFriday|Jan
        2|19:00|[Monthly Arena](https://lichess.org/tournament/Kl9N8gbR)\\nSunday|Jan
        4|17:30|[New Year $$ Arena](https://lichess.org/tournament/IVLrJipK)\\nMonday|May
        11|17:00|[Yearly Arena](https://lichess.org/tournament/hbxfljop)\\n\\nReigning
        champs: @Pinni7 (ACWC), @Lmaoooooooooooooooo (Shield), [\u0424\u0435\u0434\u0435\u0440\u0430\u0446\u0438\u044F
        \u0410\u043D\u0442\u0438\u0448\u0430\u0445\u043C\u0430\u0442 \u0420\u043E\u0441\u0441\u0438\u0438
        Open](https://lichess.org/team/SKMom8QG) (Team Battle), @I_Grischunin1962
        (U2000).\\n## Learning Material\\r\\n**Studies**: [Basics](/study/4XBZbCFY)
        \u2022 [Tactics](/study/WLrT4U2E) \u2022 [Endgames](/study/VFsD8X5H) \u2022
        [3v1 Endgames](/study/k5DATDVV) [...]
