interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lichess.org/api/challenge/testChallenge1/show
  response:
    body:
      string: '{"id":"testChallenge1","url":"https://lichess.org/testChallenge1","status":"created","challenger":{"id":"playerone","name":"PlayerOne","rating":1500,"online":true},"destUser":{"id":"playertwo","name":"PlayerTwo","rating":1450,"online":false},"variant":{"key":"standard","name":"Standard","short":"Std"},"rated":true,"speed":"blitz","timeControl":{"type":"clock","limit":300,"increment":0,"show":"5+0"},"color":"random","finalColor":"white","perf":{"icon":"","name":"Blitz"},"declineReason":"","declineReasonKey":""}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
