name: Format

on:
  push:
    branches: ["master"]
    paths:
      - ".github/workflows/format.yml"
      - "**.py"
      - ".editorconfig"
  pull_request:
    paths:
      - ".github/workflows/format.yml"
      - "**.py"
      - ".editorconfig"

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: make setup
      - name: Check formatting
        run: make format-check