name: Lila integration test

on:
  push:
    branches: ["master"]
    paths:
      - ".github/workflows/integration_test.yml"
      - "integration/**"
      - "**.py"
      - "uv.lock"
      - "pyproject.toml"
  pull_request:
    paths:
      - ".github/workflows/integration_test.yml"
      - "integration/**"
      - "**.py"
      - "uv.lock"
      - "pyproject.toml"

jobs:
  lila:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7 # latest
      - name: Run integration tests
        run: |
          ./integration/local.py --python ${{ matrix.python-version }}